<div class="row mt-1 mb-3 px-sm-3 border">
  <!-- ログアウトボタン・ナビゲーションメニュー -->
  <%= render 'layouts/nav' %>

  <div class="col-md-9 col-xs-12 mt-md-3">
    <strong>LIKES</strong>

    <!--LIKES一覧-->
    <div class="mt-4">
      <%= render 'layouts/tweetboard' %>
    </div>
  </div>

  <div id="page_top"><%= link_to "",tweets_mylikes_path %></div>

  <%= paginate @tweets %>
</div>