@import "tweets";

.nav-menu {
  list-style: none;
  font-size: 1.2rem;
  margin-top: 20px;
}
.nav-menu li {
  padding: 10px;
  font-weight: bold;
}
.nav-menu a {
  color: rgb(131, 127, 124);
  display: block;
  text-decoration: none;
}
.nav-menu a:hover {
  color: rgb(83, 178, 233);
}
.nav-menu i {
  color: rgb(56, 172, 240);
}

.card {
  margin-top: 80px;
  padding: 42px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .07);
}
.card-body h2 {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

.field {
  margin-top: 27px;
}

.login_actions input[type="submit"] {
  width: 100%;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  background: rgb(132, 191, 250);
  border-radius: 35px;
  padding: 8px 0;
}
.login_actions input[type="submit"]:hover {
  background: rgb(63, 159, 255);
  color: #fff;
}

.actions a {
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  background: rgb(255, 166, 203);
  border-radius: 35px;
  padding: 8px 0;
}
.actions a:hover {
  background: rgb(253, 120, 176);
}
.signup_actions input[type="submit"] {
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  background: rgb(255, 166, 203);
  border-radius: 35px;
  padding: 8px 0;
}
.signup_actions input[type="submit"]:hover {
  background: rgb(253, 120, 176);
}

.forgot_your_password a {
  text-decoration: none;
  color: rgb(63, 159, 255);
}
.forgot_your_password_actions input[type="submit"] {
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  background:rgb(145, 182, 206);
  border-radius: 35px;
  padding: 8px 0;
}
.forgot_your_password_actions input[type="submit"]:hover {
  background:rgb(114, 151, 177);
}

.login a {
  text-decoration: none;
}