<p>こんにちは <%= @resource.email %>さん!</p>

<!--<p>Someone has requested a link to change your password. You can do this through the link below.</p>-->
<p>パスワード再設定のお申し込みを受け付けました。</p>
<p>下記のリンクより、パスワード変更手続きをして下さい。</p>

<p><%= link_to 'パスワード再設定', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<!--<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>-->

<p>このメールにお心当たりのない方は、このメールを無視してください。</p>
<p>上記のリンクにて新しいパスワードを作成するまでは、パスワードは変更されません。</p>