<div class="row mt-1 mb-3 px-sm-4 border">
  <%= render 'layouts/nav' %>

    <div class="col-xs-12 col-md-9 mt-md-3">
      <strong class="p-2">LIKES</strong>
        <div class="tweetboard mt-5">
            <%= render 'layouts/tweetboard' %>
        </div>
    </div>
  <%= paginate @tweets %>
</div>